.b-body { font-family:Arial, sans-serif !important; }
.b-body {
	background-color: transparent !important;
	background-image:url('none?rnd=1834527383') !important;
	background-repeat:repeat !important;
}
.body-background {
	background-color:#FFFFFF !important;
	background-repeat:repeat !important;
}
/* ---------- user.css ---------------- */