<!-- Yandex.Metrika counter -->
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
<script type="text/javascript">
try { var yaCounter5063062 = new Ya.Metrika({id:5063062});
} catch(e) { }
</script>
<noscript><div><img src="//mc.yandex.ru/watch/5063062" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->